italic
  font-style: oblique

.bg-naranja-suave
  background-color: #FFF1DB
.bg-naranja
  background-color: #FFD494

.division-acento-contenido
  border: 2px solid #FF9800
  border-radius: 10px
  margin-bottom: 1em
.subtitulo-naranja span
  background-color: #FFD494
  border-radius: 50px
  padding: 4px 15px  


.acordion__accion__btn--a
  background-color: #FFF1DB
.acordeon__selected1 .acordion__accion__btn--a
  background-color: #FFD494



// BANDERAS
.content-usa  
  background-color: #FFF6DB
  border-top-left-radius: 15px
  display: flex
  align-content: flex-end
  flex-wrap: wrap  
  position: relative
  border-bottom: 4px solid #ff9800
.row.content-usa:before
  content: ""
  display: block
  position: absolute
  transform: translate(-50%,-50%)
  width: 0
  height: 0
  border-left: 22px solid transparent
  border-right: 22px solid transparent
  border-top: 12px solid
  left: 50%
  top: calc(100% + 9px)
  border-top-color: #ff9800  
.img-usa
  width: 50px
  height: 40px
  left: 0
  top: 0
  transform: translateX(0%) 
  display: inline-block
  position: absolute
  border-bottom-right-radius: 30px
.img-usa div
  width: 25px
  position: absolute
  border-radius: 20px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)   

.content-esp
  border-bottom: 4px solid #FFF4D3
  border-bottom-left-radius: 30px
  display: flex
  align-content: flex-end
  flex-wrap: wrap  
  position: relative
.img-esp
  width: 50px
  height: 40px
  right: 0
  bottom: 0
  transform: translateX(0%) 
  display: inline-block
  position: absolute
  border-bottom-right-radius: 30px
.img-esp div
  width: 25px
  position: absolute
  border-radius: 20px
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)   